<nb-layout>

  <nb-layout-header fixed>
    <nb-layout-column class="menu-layout"><h5>jlearn</h5></nb-layout-column>
    <nb-layout-column class="menu-layout menu-navigation">
      <nb-actions [size]="'tiny'">
        <nb-action icon="search-outline"></nb-action>
        <nb-action icon="code-outline" nbTooltip="Challenges" nbTooltipPlacement="bottom" routerLink="/challenges"></nb-action>
        <nb-action icon="person-outline"></nb-action>
        <nb-action icon="home-outline"></nb-action>
      </nb-actions>
    </nb-layout-column>

  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    Copyright &copy; 2022
  </nb-layout-footer>

</nb-layout>
